
* {
 // font-family: 'Inter', sans-serif;
 font-family: 'Roboto', sans-serif;
 border-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  width: 90vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
} 

 @media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    width: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
} 

